{block content}
    {snippet nevim}{/snippet}
    <h1>{$name}</h1>
    {control menuControl '/ toto je parmetr z šablony presenteru'}
    <a n:href="actn 2">actionActn test</a><br />
    <a n:href="hndl! 2">handleHndl test</a><br /><!-- překreslí současné view -->
    <a class="odkaz" href="/#totoJeAjax">handleHndl test (AJAX)</a>
    {control formular}
    {control footControl}
{/block}

{block scripts}
<script>
  document.querySelectorAll(".odkaz").forEach(function(el) {
    el.addEventListener('click', function(e) {
    
        e.preventDefault();
        
        var xhr = new XMLHttpRequest();
        
        xhr.open('GET', 'aplikace/actn/3?arg=2&do=hndl');
        xhr.setRequestHeader('X-Requested-With','XMLHttpRequest');
        
        xhr.onreadystatechange = function() {
          if (xhr.readyState == 4) {
            console.log(xhr.response);
          }
        };
        
        xhr.send();
        
    });
  });
</script>
{/block}