
{block content}
<div>
  <h3>MenuControl {$msg}</h3>
  <a href="{plink actn 2}">actionActn test (z MenuControl)</a><br />
  <a href="{plink hndl! 2}">handleHndl test (z MenuControl)</a><br />
  <a class="odkaz" href="/#totoJeAjax">handleHndl test (AJAX) (z MenuControl)</a>
  <hr />
</div>